<!DOCTYPE html>
<html ng-app="myApp.plotter">
<head>
    <title>GPS point plotter</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-google-maps/2.1.5/angular-google-maps.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>

    <STYLE type="text/css">
        html, body{
            height: 100%;
        }
        .angular-google-map-container { height: 650px; }

        .map-popup {
            width: 1000px;
        }

        footer {
            font-size: smaller;
        }

        .legendImage {
            height: 18px;
        }

        .legendSpan {
            margin-right: 10px;
        }
    </STYLE>
</head>
<body ng-controller="PlotterCtrl">
    <form role="form" name="form" novalidate style="margin: 10px;">
        <form-item class="form-group col-sm-12">
            <label>Center point</label>
            Lat: <input id="centerLatitude" type="number" step="any" ng-model="centerMarker.coord.latitude">
            Lon: <input id="centerLongitude" type="number" step="any" ng-model="centerMarker.coord.longitude">
            <button type="button" ng-click="loadCenter()">
                Center map
            </button>
        </form-item>
        <br/>
        <form-item class="form-group col-sm-12">
            <label>Please upload your csv</label>
            <input id="loadFile" name="csvData" type="file" on-read-file="loadCSVData($fileContent)" class="form-control"
                    style="width:400px;">
        </form-item>
        <br/>
    </form>



    <ui-gmap-google-map center='map.center' zoom='map.zoom' options="map.options">
        <ui-gmap-window coords="windowOptions.coord" show="windowOptions.show" closeClick="closeClick()"
                        templateUrl="'info.html'" templateParameter="windowParams">

        </ui-gmap-window>
        <ui-gmap-markers models="markers" idkey="markers.id" doCluster="true" coords="'coord'" icon="'icon'"
                         click="clickMarker" clusterEvents = "clusterEvents"
                         events="markers.events">
        </ui-gmap-markers>
    </ui-gmap-google-map>

    <footer>
        <h3>Legends:</h3>
        <div><span>Center point: <img class="legendImage" ng-src="{{centerIcon}}" alt="Center" /></span></div>
        <div><span class="legendSpan" ng-repeat="modeIcon in modeIcons">
            {{modeIcon.mode}}: <img class="legendImage" ng-src="{{modeIcon.icon}}" alt="{{modeIcon.mode}}" />
            </span>
        </div>
    </footer>

    <div>
        <h3>CSV Data</h3>
        <table>
            <tr>
                <th ng-repeat="header in csvHeader">{{header}}</th>
            </tr>
            <tr ng-repeat="row in csv">
                <td ng-repeat="col in row">{{col}}</td>
            </tr>
        </table>
    </div>
</body>
<script src="index.js"></script>
</html>